@page "/vacations"
@using BlazorStrap;

<PageTitle>Vacations</PageTitle>

<BSNav IsTabs="true">
    <BSNavItem>
        <TabLabel>Ramining Days</TabLabel>
        <TabContent>
            <div style="display:flex">
    <div>
        <span><h1>@remainingDays</h1></span>
    </div>
    <div>
        <span><h3> days remaining</h3></span>
    </div>
</div>
            
            </TabContent>
    </BSNavItem>
    <BSNavItem>
        <TabLabel>History</TabLabel>
        <TabContent>
            <input type="date" @bind="newStart"/>
-
<input type="date" @bind="newEnd"/>
:
<input type="text" @bind="newDescription"/>
<button @onclick="AddVacation">Add</button>

<ul>
    @foreach (var v in vacations)
    {
        <li>
            <input type="date" @bind="v.Start" />
            -
            <input type="date" @bind="v.End" />
            :
            <input type="text" @bind="v.Description" />
            <button @onclick="() => DeleteVacation(v)" >Delete</button>
        </li>
    }
</ul>
        </TabContent>
    </BSNavItem>
    <BSNavItem>
        <TabLabel>Settings</TabLabel>
        <TabContent>Link 2 Tab content</TabContent>
    </BSNavItem>
</BSNav>













@code {
    private List<Vacation> vacations = new();

    private DateTime newStart = DateTime.Now;
    private DateTime newEnd = DateTime.Now;
    string newDescription = string.Empty;

    int remainingDays = 2;

    int initialDays = 7;
    int vacationPayPercent = 6;
    DateTime workStartDate = DateTime.Now;

    private void AddVacation()
    {
        vacations.Add(new Vacation() {
            Start = DateTime.Now,
            End = DateTime.Now,
            Description = "휴식"
        });
    }

    private void DeleteVacation(Vacation v)
    {
        vacations.Remove(v);
    }
}