@page "/vacations"

<PageTitle>Vacations</PageTitle>

<h1>Vacations</h1>

<ul>
    @foreach (var v in vacations)
    {
        <li>
            <input type="date" @bind="v.Start" />
            -
            <input type="date" @bind="v.End" />
            :
            <input type="text" @bind="v.Description" />
            <button @onclick="() => DeleteVacation(v)" >Delete</button>
        </li>
    }
</ul>

<input type="date" @bind="newStart"/>
-
<input type="date" @bind="newEnd"/>
:
<input type="text" @bind="newDescription"/>
<button @onclick="AddVacation">Add</button>

@code {
    private List<Vacation> vacations = new();

    private DateTime newStart = DateTime.Now;
    private DateTime newEnd = DateTime.Now;
    string newDescription = string.Empty;

    private void AddVacation()
    {
        vacations.Add(new Vacation() {
            Start = DateTime.Now,
            End = DateTime.Now,
            Description = "휴식"
        });
    }

    private void DeleteVacation(Vacation v)
    {
        vacations.Remove(v);
    }
}